### 2022

In [1]:
# make all the imports 

import pandas as pd

In [2]:
# read csv

df_2022 = pd.read_csv('mass-shootings-2022.csv')
df_2022

,index,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url,year,month-year
0,0,2491656,2022-12-31,Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
1,1,2492253,2022-12-31,Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
2,2,2491054,2022-12-30,Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
3,3,2490925,2022-12-30,Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
4,4,2489614,2022-12-28,New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
...,...,...,...,...,...,...,...,...,...,...,...
643,643,2201641,2022-01-01,Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
644,644,2202001,2022-01-01,Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
645,645,2201876,2022-01-01,South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
646,646,2201848,2022-01-01,Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
647,647,2201677,2022-01-01,Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...,2022,01-2022

In [3]:
# rename columna

df_2022.rename(columns={'Incident ID': 'incident_id', 'Incident Date': 'incident_date', 'City Or County': 'city_or_country', '# Killed': 'killed', '# Injured': 'injured', 'Address': 'address', 'State': 'state'}, inplace=True)

In [4]:
# remove column Operations 

df_2022.drop(columns=['Operations'], inplace=True)
df_2022

KeyError: "['Operations'] not found in axis"

In [ ]:
# create a new column 'incident_url' which is https://www.gunviolencearchive.org/ + incident_id

df_2022['incident_url'] = 'https://www.gunviolencearchive.org/incident/' + df_2022['incident_id'].astype(str)
df_2022

,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url
0,2491656,"December 31, 2022",Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...
1,2492253,"December 31, 2022",Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...
2,2491054,"December 30, 2022",Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...
3,2490925,"December 30, 2022",Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...
4,2489614,"December 28, 2022",New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...
...,...,...,...,...,...,...,...,...
643,2201641,"January 1, 2022",Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...
644,2202001,"January 1, 2022",Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...
645,2201876,"January 1, 2022",South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...
646,2201848,"January 1, 2022",Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...
647,2201677,"January 1, 2022",Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...

In [ ]:
df_2022.dtypes

incident_id         int64
incident_date      object
state              object
city_or_country    object
address            object
killed              int64
injured             int64
incident_url       object
dtype: object

In [ ]:
# convert incident_date to datetime

df_2022['incident_date'] = pd.to_datetime(df_2022['incident_date'])
df_2022.dtypes

incident_id                 int64
incident_date      datetime64[ns]
state                      object
city_or_country            object
address                    object
killed                      int64
injured                     int64
incident_url               object
dtype: object

In [ ]:
# create a new column 'year' which is the year of the incident

df_2022['year'] = df_2022['incident_date'].dt.year
df_2022

,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url,year
0,2491656,2022-12-31,Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...,2022
1,2492253,2022-12-31,Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...,2022
2,2491054,2022-12-30,Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...,2022
3,2490925,2022-12-30,Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...,2022
4,2489614,2022-12-28,New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...,2022
...,...,...,...,...,...,...,...,...,...
643,2201641,2022-01-01,Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...,2022
644,2202001,2022-01-01,Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...,2022
645,2201876,2022-01-01,South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...,2022
646,2201848,2022-01-01,Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...,2022
647,2201677,2022-01-01,Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...,2022

In [ ]:
# create a new column 'month-year' column 

df_2022['month-year'] = df_2022['incident_date'].dt.strftime('%m-%Y')
df_2022

,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url,year,month-year
0,2491656,2022-12-31,Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
1,2492253,2022-12-31,Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
2,2491054,2022-12-30,Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
3,2490925,2022-12-30,Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
4,2489614,2022-12-28,New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
...,...,...,...,...,...,...,...,...,...,...
643,2201641,2022-01-01,Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
644,2202001,2022-01-01,Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
645,2201876,2022-01-01,South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
646,2201848,2022-01-01,Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
647,2201677,2022-01-01,Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...,2022,01-2022

In [ ]:
# reset index 

df_2022.reset_index(inplace=True)

In [ ]:
# save csv

df_2022.to_csv('mass-shootings-2022.csv', index=False)