In [1]:
# make all the imports 

import pandas as pd

In [2]:
# read csv

df = pd.read_csv('mass-shootings-2022.csv')
df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2491656,"December 31, 2022",Arizona,Phoenix,4201 N 19th Ave,0,9,NaN
1,2492253,"December 31, 2022",Alabama,Mobile,200 block of Dauphin St,1,8,NaN
2,2491054,"December 30, 2022",Tennessee,Memphis,E Brooks Rd,1,3,NaN
3,2490925,"December 30, 2022",Texas,Humble,4800 block of Park Square Ln,2,3,NaN
4,2489614,"December 28, 2022",New York,Bronx,851 E Tremont Ave,1,3,NaN
...,...,...,...,...,...,...,...,...
643,2201641,"January 1, 2022",Wisconsin,Kenosha,1708 52nd St,1,3,NaN
644,2202001,"January 1, 2022",Illinois,Peoria,2000 block of SW Adams St,2,2,NaN
645,2201876,"January 1, 2022",South Carolina,Dillon,3261 Hwy 9,0,5,NaN
646,2201848,"January 1, 2022",Indiana,South Bend,1500 block of S Miami St,0,4,NaN
647,2201677,"January 1, 2022",Colorado,Denver,1919 Blake St,2,2,NaN

In [7]:
# rename columna

df.rename(columns={'Incident ID': 'incident_id', 'Incident Date': 'incident_date', 'City Or County': 'city_or_country', '# Killed': 'killed', '# Injured': 'injured', 'Address': 'address', 'State': 'state'}, inplace=True)

In [9]:
# remove column Operations 

df.drop(columns=['Operations'], inplace=True)

In [10]:
df

,incident_id,incident_date,state,city_or_country,address,killed,injured
0,2491656,"December 31, 2022",Arizona,Phoenix,4201 N 19th Ave,0,9
1,2492253,"December 31, 2022",Alabama,Mobile,200 block of Dauphin St,1,8
2,2491054,"December 30, 2022",Tennessee,Memphis,E Brooks Rd,1,3
3,2490925,"December 30, 2022",Texas,Humble,4800 block of Park Square Ln,2,3
4,2489614,"December 28, 2022",New York,Bronx,851 E Tremont Ave,1,3
...,...,...,...,...,...,...,...
643,2201641,"January 1, 2022",Wisconsin,Kenosha,1708 52nd St,1,3
644,2202001,"January 1, 2022",Illinois,Peoria,2000 block of SW Adams St,2,2
645,2201876,"January 1, 2022",South Carolina,Dillon,3261 Hwy 9,0,5
646,2201848,"January 1, 2022",Indiana,South Bend,1500 block of S Miami St,0,4
647,2201677,"January 1, 2022",Colorado,Denver,1919 Blake St,2,2

In [12]:
# create a new column 'incident_url' which is https://www.gunviolencearchive.org/ + incident_id

df['incident_url'] = 'https://www.gunviolencearchive.org/incident/' + df['incident_id'].astype(str)
df

,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url
0,2491656,"December 31, 2022",Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...
1,2492253,"December 31, 2022",Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...
2,2491054,"December 30, 2022",Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...
3,2490925,"December 30, 2022",Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...
4,2489614,"December 28, 2022",New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...
...,...,...,...,...,...,...,...,...
643,2201641,"January 1, 2022",Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...
644,2202001,"January 1, 2022",Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...
645,2201876,"January 1, 2022",South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...
646,2201848,"January 1, 2022",Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...
647,2201677,"January 1, 2022",Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...

In [13]:
df.dtypes

incident_id         int64
incident_date      object
state              object
city_or_country    object
address            object
killed              int64
injured             int64
incident_url       object
dtype: object

In [15]:
# convert incident_date to datetime

df['incident_date'] = pd.to_datetime(df['incident_date'])
df.dtypes

incident_id                 int64
incident_date      datetime64[ns]
state                      object
city_or_country            object
address                    object
killed                      int64
injured                     int64
incident_url               object
dtype: object

In [17]:
# create a new column 'year' which is the year of the incident

df['year'] = df['incident_date'].dt.year
df

,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url,year
0,2491656,2022-12-31,Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...,2022
1,2492253,2022-12-31,Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...,2022
2,2491054,2022-12-30,Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...,2022
3,2490925,2022-12-30,Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...,2022
4,2489614,2022-12-28,New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...,2022
...,...,...,...,...,...,...,...,...,...
643,2201641,2022-01-01,Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...,2022
644,2202001,2022-01-01,Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...,2022
645,2201876,2022-01-01,South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...,2022
646,2201848,2022-01-01,Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...,2022
647,2201677,2022-01-01,Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...,2022

In [19]:
# create a new column 'month-year' colum 

df['month-year'] = df['incident_date'].dt.strftime('%m-%Y')
df

,incident_id,incident_date,state,city_or_country,address,killed,injured,incident_url,year,month-year
0,2491656,2022-12-31,Arizona,Phoenix,4201 N 19th Ave,0,9,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
1,2492253,2022-12-31,Alabama,Mobile,200 block of Dauphin St,1,8,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
2,2491054,2022-12-30,Tennessee,Memphis,E Brooks Rd,1,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
3,2490925,2022-12-30,Texas,Humble,4800 block of Park Square Ln,2,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
4,2489614,2022-12-28,New York,Bronx,851 E Tremont Ave,1,3,https://www.gunviolencearchive.org/incident/24...,2022,12-2022
...,...,...,...,...,...,...,...,...,...,...
643,2201641,2022-01-01,Wisconsin,Kenosha,1708 52nd St,1,3,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
644,2202001,2022-01-01,Illinois,Peoria,2000 block of SW Adams St,2,2,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
645,2201876,2022-01-01,South Carolina,Dillon,3261 Hwy 9,0,5,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
646,2201848,2022-01-01,Indiana,South Bend,1500 block of S Miami St,0,4,https://www.gunviolencearchive.org/incident/22...,2022,01-2022
647,2201677,2022-01-01,Colorado,Denver,1919 Blake St,2,2,https://www.gunviolencearchive.org/incident/22...,2022,01-2022